.nav {
	width: 100%;
	padding: 0 2rem;
	background-color: var(--whitePlate);
	/* shadow */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	height: 80px;
	/* always top */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	/* glass effect */
}

.nav .navContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
	padding: 1rem 0;
}

.navLogo {
	display: grid;
	grid-template-columns: 1fr;
	/* align to the left */
	justify-items: start;
}

.navLogo img {
	width: 50px;
	height: 50px;
}

.navLinks {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	text-align: center;
}

.navLinks a {
	color: var(--black);
	text-decoration: none;
	font-size: 1.2rem;
}

.navHamburger {
	display: none;
}

.navLinksMobile {
	/* menu must appear over the content and under the nav */
	position: fixed;
	top: 80px;
	left: 0;
	width: 100%;
	background-color: var(--pureqwhite);
	padding: 3rem 1rem;
	height: 40vh;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	justify-items: start;
	align-items: center;
}

.navLinksMobile a {
	color: var(--black);
	text-decoration: none;
	font-size: 1.2rem;
	text-align: center;
}

/* mobile query */
@media screen and (max-width: 768px) {
	.nav .navContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav {
		padding: 0 1rem;
	}

	.navLinks {
		display: none;
	}

	.navHamburger {
		display: block;
		cursor: pointer;
	}
}
